<h1>Spams to add</h1>

<table>
  <thead>
    <tr>
      
      <th>Time</th>
      <th>Sender Num</th>
      <th>Text</th>
      <th>Pattern</th>
      <th>Type</th>
      <th>Select</th>
      
    </tr>
  </thead>
  
  <tbody>
    <%
    @patternTypes = PatternType.all.collect{ |u| [u.display_text, u.id]}
        logger.info "** patternTypes[]  *** #{@patternTypes.inspect}**"

    @messages = SmsMessage.includes([:user,:sender]).where(:message_status_id => MESSAGE_STATUS_SUSPICIOUS)%>
    <% @messages.each_with_index do |message, index| %>
        <%= fields_for "messages[#{index}]", message do |message_fields| %>
          
          <tr class="data" id="<%=message.id%>">
            <td> <%= Time.at(message.received_time/1000) %> </td>
            <td> <%= message.sender.sender_from %> </td>
            <td> <%= message.body_text %> </td>
            <td> <%= text_area_tag 'pattern', nil, size: "25x3" %> </td>
            <td><%=select_tag 'patternType', options_for_select(@patternTypes) %></td>
            <td> <%= check_box_tag 'spam'%> </td>
          </tr>
        
        <% end %>
      <% end %>

</tbody>
</table>
      

<button id="setSpams" type="button">Set spams</button>

<script>
  $('#setSpams').click(function(){
      spams = {}
      spams.spams=[]
      $('tr.data').each(function(){
          id = $(this).attr('id')
          pattern = $(this).find("#pattern").val()
          spam =  $(this).find("#spam").prop('checked')
          patternType = $(this).find("#patternType").val()
          if(spam){
              spams.spams.push({id:id, pattern:pattern, pattern_type:parseInt(pattern_type)}) 
          }
         

      })

      $.ajax({ 
         url: "/messages/setSpams.js",
         type:"POST",
         dataType: 'script',
         contentType: 'application/json',
         data: JSON.stringify(spams)
      

      })



     


  })

</script>
           



    
    

   
  

<br>



