<h1>Listing suspicious_keywords</h1>

<table>
  <thead>
    <tr>
      <th>Keyword</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @suspicious_keywords.each do |suspicious_keyword| %>
      <tr>
        <td><%= suspicious_keyword.keyword %></td>
        <td><%= link_to 'Show', suspicious_keyword %></td>
        <td><%= link_to 'Edit', edit_suspicious_keyword_path(suspicious_keyword) %></td>
        <td><%= link_to 'Destroy', suspicious_keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Suspicious keyword', new_suspicious_keyword_path %>
